@model IEnumerable<Tangy.Models.Coupons>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    @Html.Partial("_CreateButtonPartial")
</p>
<div class="form-border">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MinimumAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.isActive)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinimumAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isActive)
                </td>
                <td>
                    <a type="button" class="btn btn-primary" href="@Url.Action("Edit/"+item.Id)">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a type="button" class="btn btn-danger" href="@Url.Action("Delete/"+item.Id)">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>